@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #f1f5f9; */
  color: #333;
  overflow-x: hidden;
}

.accenture-icon {
  color: #a100ff;
}
.infosys-icon {
  color: #0271b1;
}
.swiggy-icon {
  color: #f77217;
}
.wipro-icon {
  color: #351a55;
}
.atlassian-icon {
  color: #1868db;
}
.netflix-icon {
  color: #e50914;
}
.microsoft-icon {
  color: #08a1f7;
}
.spotify-icon {
  color: #1ed760;
}

.skeleton {
  background: linear-gradient(90deg, #f7f7f7 25%, #ececec 50%, #f7f7f7 75%);
  /* background: linear-gradient(90deg, #e0e7ff 25%, #cbd5e1 50%, #e0e7ff 75%); */
  background: linear-gradient(90deg, #e5e7eb 25%, #d1d5db 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.loader {
  border: 3px solid;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.dots {
  width: 40px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

.custom-upload-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; */
}

.custom-upload-container [data-ut-element="button"] {
  background-color: #7c3aed; /* Green background */
  color: white; /* White text */
  padding: 0.5rem 1rem; /* Padding */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-upload-container [data-ut-element="button"]:hover {
  background-color: #5b21b6; /* Darker green on hover */
}

.custom-upload-container [data-ut-element="allowed-content"] {
  font-size: 0.875rem;
  display: none;
}
